# Игнорировать файлы, созданные системой операционной системы
.DS_Store
help_comands.txt

# Игнорировать кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
migrations/

# Игнорировать файлы миграции базы данных Django
*.db
*.sqlite3

# Игнорировать папку медиафайлов (если не используется стороннее хранилище)
/media/

# Игнорировать файлы статических ресурсов (если не используется стороннее хранилище)

# Игнорировать локальные настройки, если они сохранены в файле local_setings.py
local_setings.py

# Игнорировать файлы окружения (например, .env, .env.local)
.env*
